.createBlog{
    margin-top: 2rem;
    /* padding: 2rem 15.5rem; */
    padding: 2rem 5.5rem;

    /* background-color:darkgray; */
    height: 100vh;
}

.createBlog_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2.5rem;
    /* height: 50%;/ */
}

.MuiTextField-root{
    width: 43ch !important;
}
.blog_desc{
    width: 100ch !important;
    margin-bottom: 2rem !important;
}

.blog_btn{
    margin-left: 8px !important;
}
