.input-div{
    background-color: rgb(164, 216, 216);
    width: 20rem;
    margin: 5rem auto;
    border-radius: 12px;
    text-align: center;
    padding: 1rem;
}

.input-form{
   
    padding: 1rem;
}

.input-form input {
    margin: 10px;
    display: block;
    /* width: 100%; */
}