body{
    margin:0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 4.5rem;
    padding: 0 5.5rem;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    width: 40%;
}