.editBlog{
    padding: 2rem 5.5rem;
}

.editBlog_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.editBlog_form > input, .editBlog_form > textarea{
    margin-bottom: 1rem;
    padding: 0.6rem;
}

.editBlog_form > button{
    padding: 0.6rem;
    width: 5rem
}